{{define "admintop"}}
<div id="header" class="units-row end logo">
    <div class="unit-centered unit-80 bckgrnd1" style="{{if .Domain.Image}}background:url({{.Domain.Image}});background-size: cover; min-height:200px;{{else}}{{end}}position:relative;z-index:111;"></div>
</div>
<nav class="headnav">
    <ul class="nav-ul">
        <li><a href="/" target="_blank">{{.Domain.Name}}</a>
        </li>
        <li class="active2"><a href="/admin">Panel zarządzania</a>
        </li>
        <li><a href="/logout">Wyloguj</a>
        </li>
    </ul>

    <div class="icons ellipsis">
        <a href="#" id="hem1" style="float:left; text-decoration: none; font-size: 29px; line-height: 34px; padding: 14px;"><i class="fa fa-bars" style="margin-right: 10px;"></i> {{.Domain.Name}}</a>
        {{/*        <a href="#" id="hem2" style="float:right; right:5px;"><i class="fa fa-cog"></i></a>*/}}
    </div>
    <div id="hm1" class="headnav-mobile" style="display:none;">
        <li class="active2"><a href="/"><i class="fa fa-chevron-right"></i> {{.Domain.Name}}</a>
        </li>
        <li><a href="/admin">Panel zarządzania <i class="fa fa-building"></i></a>
        </li>
        <li><a href="/logout">Wyloguj <i class="fa fa-map-marker"></i> </a>
        </li>
        </li>
    </div>{{/*
    <div id="hm2" class="headnav-mobile" style="display:none;">
        <li><a href="#" class="fontplus">Powiększona czcionka <span class="label label-red"><i class="fa fa-plus"></i></span></a>
        </li>
        <li class="divider"></li>
        <li><a href="#" class="highcontras">Zwiększ kontrast <i class="fa fa-adjust"></i></a>
        </li>
    </div>*/}}
    <script>
        var g = 0,
            h = 0;
        $('#hem1').click(function () {
            if (g == 0) {
                g = 1;
                if (h == 1) {
                    h = 0;
                    $('#hm2').hide();
                }
                $('#hm1').show();
            } else {
                g = 0;
                $('#hm1').hide();
            }
        });{{/*
        $('#hem2').click(function () {
            if (h == 0) {
                h = 1;
                if (g == 1) {
                    g = 0;
                    $('#hm1').hide();
                }
                $('#hm2').show();
            } else {
                h = 0;
                $('#hm2').hide();
            }
        });*/}}
    </script>

</nav>
{{end}}