{{define "admineditsettings"}}{{template "adminheader" .}}
<style>
    .formsy {
        list-style-type: none;
    }
    
    span {
        display: block;
        font-size: 14px;
        text-indent: 5px;
    }
    
    label {
        font-size: 16px;
    }
</style>
<script type="text/javascript" src="/assets/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "#contact",
    plugins: [
    "advlist autolink lists link image charmap print preview anchor",
    "searchreplace visualblocks code fullscreen",
    "insertdatetime media table contextmenu paste"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    language : 'pl',
});
</script>
</head>

<body>
    <div id="cont" class="units-container bckgrnd">
        {{template "admintop" .}}



        <div id="main" class="units-row end" style="padding-top:30px;">
            <div class="unit-centered unit-80 bckgrnd5" style="padding:15px 20px;">
                <div class="unit-row">
                    <div class="unit-100">
                        <form method="post" action="/admin/form/editsettings" class="forms">
                            <input type="hidden" name="Send" value="1" />
                            <ul class="formsy">
                                <li>
                                    <label>Ustaw nazwę serwisu
                                        <span>Jest to nazwa wyświetlająca się na pierwszym miejscu (od lewej) w menu.</span>
                                        <input type="text" name="Name" placeholder="Wpisz nazwę..." class="width-60" {{if .Form.Name}}value="{{.Form.Name}}" {{else if .Domain.Name}}value="{{.Domain.Name}}" {{end}}/>
                                    </label>
                                </li>
                                <li>
                                    <label>Adresy obrazków pojawiających się jako logo u góry strony (zalecana szerokość powyżej 1600px, waga poniżej 200kb). Pamiętaj, nie mogą zawierać spacji i muszą być rozdzielone średnikami ( ; ), a linki muszą zaczynać się od <strong>http://</strong>.
                                        <textarea id="Images" name="Images" placeholder="Linki do obrazków rozdzielone średnikami...">{{if .Form.Images}}{{.Form.Images}}{{else if .Domain.Images}}{{.Domain.Images}}{{end}}</textarea>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="Announcements" {{if .Form.Announcements}}checked="checked" {{else if .Domain.Announcements}}checked="checked"{{end}}/> Włącz/wyłącz moduł ogłoszeń
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox" name="Showonfrontpage" {{if .Form.Showonfrontpage}}checked="checked" {{else if .Domain.Showonfrontpage}}checked="checked"{{end}}/> Włącz/wyłącz moduł post na stronie głównej
                                    </label>
                                </li>

                                <li>
                                    <label>Treść zakładki 'Kontakt'.
                                        <span>Możesz zamieścić tutaj własną treść zakładki 'Kontakt'. Podaj adres jednostki, godziny kontaktu z zainteresowanymi, itp.</span>
                                        <textarea id="contact" class="width-60" name="Text" placeholder="Zamieść tutaj dowolną treść zakładki kontakt.">{{if .Domain.Text}}{{.Domain.TextStr}}{{else if .Form.Text}}{{.Form.Text}}{{end}}</textarea>
                                    </label>
                                </li>
                                
                                
                                <li>
                                    <label>Numer telefonu znajdujący się w zakładce kontakt.
                                        <span>Format 123456789. W przypadku telefonów stacjonarnych podajemy kierunkowy i resztę, np. 857678989</span>
                                        <input type="text" name="Telephone" placeholder="Numer telefonu..." class="width-60" {{if .Form.Telephone}}value="{{.Form.Telephone}}" {{else if .Domain.Telephone}}value="{{.Domain.Telephone}}" {{end}} pattern="\d{9}" />
                                    </label>
                                </li>
                                <li>
                                    <label>Adres e-mail znajdujący się w zakładce kontakt.
                                        <input type="email" name="Email" placeholder="Adres e-mail..." class="width-60" {{if .Form.Email}}value="{{.Form.Email}}" {{else if .Domain.Email}}value="{{.Domain.Email}}" {{end}}/>
                                    </label>
                                </li>
                            </ul>
                            <p>
                                <input class="btn btn-blue" type="submit" value="Wyślij" />
                            </p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('body').ready(function () {
            var str = $('#Images').val();
            if (str.slice(0, 1) == '[') {
                var res = str.substring(1, str.length - 1);
                res = res.replace(/\s+/g, ";");
                $('#Images').attr('value', res);
            }
        });
    </script>
    {{template "adminfooter" .}} {{end}}