{{define "admineditannouncement"}}{{template "adminheader" .}}
<style>
    .formsy {
        list-style-type: none;
    }
    span {
        display:block;
        font-size:14px;
        text-indent:5px;
    }
    label {
        font-size:16px;
    }
	.img-list li {
	margin-bottom: 10px;	
		  height: 215px;
	}
	.img-list img {
		height: auto;
		width:100%;
	}
	#gallery {
	  height: 300px;
	  overflow: hidden;
	  overflow-y: scroll;
	}
</style>
{{template "tinymce"}}
</head>

<body>
    <div id="cont" class="units-container bckgrnd">
        {{template "admintop" .}}



        <div id="main" class="units-row end" style="padding-top:30px;">
            <div class="unit-centered unit-80 bckgrnd5" style="padding:15px 20px;">
                <div class="units-row end">
                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="/admin">Panel administracyjny</a>
                            </li>
                            <li><span>Edytuj ogłoszenie</span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="unit-row end">
                        {{if .Error}} <p class="error bold upper big">Wystąpił błąd: {{.Error}}</p>{{end}}
                    <form method="post" action="/admin/form/editannouncement/{{.announcement.Id}}" class="forms">
                        <ul class="formsy">
                            <input type="hidden" name="Id" value="{{.announcement.Id}}" />
                            <li>
                                <label>Podaj tytuł ogłoszenia...
                                    <input type="text" name="Title" placeholder="Tytuł ogłoszenia..." {{if .Form.Title}}value="{{.Form.Title}}" {{else if .announcement.Title}}value="{{.announcement.Title}}" {{end}} />
                                </label>
                            </li>
                            <li>
                                <label>Podaj treść ogłoszenia...
								<span>Kopiując tekst z innego dokumentu lub strony internetowej należy przed wklejeniem bezwzględnie wyczyścić formatowanie <code>EDYCJA > WKLEJ JAKO ZWYKŁY TEKST</code>. Tekst wklejamy poprzez wciśnięcie 2 klawiszy <kbd>CTRL + V</kbd></span>
                                    <textarea name="Text" cols="15">{{if .Form.Text}}{{.Form.Text}}{{else if .announcement.Text}}{{.announcement.Text}}{{end}}</textarea>
										<div style="padding:10px;border:1px solid rgba(0,0,0,0.2);"><h5>Instrukcje</h5>
											Aby wstawić film wybierz <code>Wstaw > Wstaw wideo > Osadź</code>. Wklej kod HTML z filmem. Przykład z serwisu YouTube: pod filmem znajduje się opcja <code>Udostępnij</code> wybierz ją, a potem <code>Umieść na stronie</code>. Skopiuj podany w ramce kod do pola Osadź.
										<br/>
											Aby dodać <strong>funkcjonalny adres e-mail</strong> lub <strong>numer telefonu</strong> należy: <code>Wstaw > Wstaw link</code>. W pole URL (czyli adres) wpisujemy <code>mailto:moj.adres@email.pl</code> W przypadku numeru telefonu: <code>tel:500600700</code> (numer musi składać się tylko i wyłącznie z cyfr)
										</div>
                                </label>
                            </li>
							
							
							<li style="margin: 30px 0;">
								<label><input id="gallery-input" type="checkbox">Pokaż galerie obrazków, które możesz wstawić do treści
									</label>
								<div id="gallery-is"></div>
							</li>
							
                            <li>
                                <label>Czy ogłoszenie ma być widoczne?
                                    <input type="checkbox" {{if .Form.Visible}}checked="checked"{{else if .announcement.Visible}}checked="checked"{{end}} name="Visible" />
                                </label>
                            </li>
                            <li>
                                <label>Czy ogłoszenie ma być wyświetlane na stronie głównej?
                                    <input type="checkbox" {{if .Form.Showonfrontpage}}checked="checked"{{else if .announcement.Showonfrontpage}}checked="checked"{{end}} name="Showonfrontpage" />
                                </label>
                            </li>
                            <li>
                                <label>Wybierz przez jaki czas ma się wyświetlać
                                    <select id="hid" name="Hideafter">
                                        <option value="0">Tydzień</option>
                                        <option value="1">Dwa tygodnie</option>
                                        <option value="2">Trzy tygodnie</option>
                                        <option value="3">Cztery tygodnie</option>
                                        <option value="4">Zawsze</option>
                                    </select>
                                </label>
                            </li>
                        </ul>
                        <P>
                            <input class="btn btn-blue" type="submit" value="Wyslij" />
                        </P>

                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
		var $imagess = "{{$d := .Domain}}<span id='gallery-info'>Jeśli chcesz skorzystać z obrazka, kliknij na nim prawym przyciskiem myszy (PPM) i wybierz 'kopiuj adres URL grafiki'. Kolejno kliknij PPM w powyższym edytorze tekstu i wybierz 'wstaw obrazek'. Kolejno kliknij PPM w pole 'źródło' i wybierz 'wklej'. Pozostałe pola są opcjonalne, możesz kliknąć zatwierdź, aby dodać obrazek do treści.</span><div id='gallery' class='unit-100 bckgrnd1 img-gallery'><ul class='blocks-5 img-list'>{{range .images}}<li><img src='http://{{$d.Address}}{{.}}' alt='http://{{$d.Address}}{{.}}'><br/><input disabled='disabled' value='http://{{$d.Address}}{{.}}' /></li>{{end}}</ul></div>", isg = 0;
	$('#gallery-input').click(function() {
		if( $('#gallery-input').is(':checked') ){	
			if(isg == 0){
				isg = 1;
				$("#gallery-is").append($imagess).html();
			} else {
				$("#gallery-is").show();
			}
		} else {
				$("#gallery-is").hide();
		}
	});
		
    var numb = "{{if .Form.Hideafter}}{{.Form.Hideafter}}{{else if .announcement.Hideafter}}{{.announcement.Hideafter}}{{end}}";
    
    if( numb ) {
        $('#hid option:eq(' + numb + ')').attr('selected', 'selected')
    }
    </script>
    
    {{template "adminfooter" .}}{{end}}