{{define "adminaddposttocategory"}}{{template "adminheader" .}}
</head>

<body>
    <div id="cont" class="units-container bckgrnd">
        {{template "admintop" .}}



        <div id="main" class="units-row end" style="padding-top:30px;">
            <div class="unit-centered unit-80 bckgrnd5" style="padding:15px 20px;">
                <div class="unit-row">
                    <div class="unit-100">
                        {{if .Error}} <p class="error bold upper big">Wystąpił błąd: {{.Error}}</p>{{end}}
                        <form method="post" action="/admin/form/addposttocategory" class="forms">
                            <fieldset>
                                <legend>Pobierz wpis z innej strony www</legend>

                                <div class="bckgrnd1" style="margin:10px;padding:15px; text-align:justify;">Jeżeli chcesz wstawić wpis (artykuł, obiekt, wydarzenie) z innej strony serwisu Mobilna Polska postępuj zgodnie z instrukcją:<p>1. Wejdź w kategorie, w której znajduje się dany wpis<br/>2. Kliknij prawym przyciskiem myszy na tytuł elementu i wybierz "Kopiuj adres linku" (skrót, adres - w zależności od przeglądarki)<br/>3. Wklej adres w pole poniżej (przykład http://mojastrona.pl/<strong>pic</strong>/38190380)<br/>4. Wybierz kategorię/podkategorię do której mają być dodany wpis i zatwierdź przyciskiem "wyślij"</p>Importowanego elementu nie można edytować, będzie on wyświetlany w oryginalnej formie.</div>

                                <label>Adres artykułu ({{/*przykład: http://example.com/art/121 lub */}}http://example.com/pic/41):
                                    <input type="text" class="width-60" name="PostUrl" placeholder="Adres artykułu" {{with .Form.PostUrl}}value="{{.}}" {{end}}/>
                                </label>
                                <label>
                                    Dodaj do kategorii:
                                    <select name="CategoryId" class="width-60">
                                        {{$forminid := .Form.CategoryId}}
                                        {{range .CategoriesTree}}
                                            {{template "admincategorytreeselect" .}}
                                            {{/*
                                                {{if eq .Typeid 0}}
                                                    <option value="{{.Id}}" {{if eq $forminid .Id}}selected="selected" {{end}}>{{.Title}}</option>
                                                {{end}}
                                            */}}
                                        {{end}}
                                    </select>
                                </label>
                                <p>
                                    <input class="btn btn-blue" type="submit" value="Wyslij" />
                                </p>
                            </fieldset>
                        </form>
                    </div></div></div></div>


{{template "adminfooter" .}} {{end}}
