{{define "adminimageuploadafter"}} {{template "adminheader" .}}
<style>
	a:hover {
		text-decoration: underline;
	}
	
	.badge {
		font-size: 15px;
		padding: 3px 6px;
		border-radius: 5px;
		background: #eee;
	}
</style>
</head>

<body>
	<div id="cont" class="units-container bckgrnd">
		{{template "admintop" .}}



		<div id="main" class="units-row end" style="padding-top:30px;">
			<div class="unit-centered unit-80 bckgrnd5" style="padding:15px 20px;">
				<div class="units-row end">
					<nav class="breadcrumbs">
						<ul>
							<li><a href="/admin">Panel administracyjny</a>
							</li>
							<li><a href="/admin/images">Galeria grafiki</a>
							</li>
							<li><a href="/admin/form/uploadimage">Prześlij grafikę</a>
							</li>
							<li><span>Grafika przesłana pomyślnie</span>
							</li>
						</ul>
					</nav>
				</div>
				<div class="unit-row">
					<div class="unit-100">

						{{$d := .Domain}}
						<h3><i class="fa fa-exclamation"></i> Grafika została przesłana pomyślnie, skopiuj adres bądź otwórz grafikę poniżej.</h3>
						
						<div class="unit-100" style="margin:30px 15px;">
							<img src="http://{{$d.Address}}{{.imagename}}" alt="http://{{$d.Address}}{{.imagename}}"><br/>
						Link: <a href="http://{{$d.Address}}{{.imagename}}">http://{{$d.Address}}{{.imagename}}</a><br/>
						<a href="http://{{$d.Address}}{{.imagename}}" target="_blank">Kliknij tutaj, aby otworzyć grafikę w nowej karcie.</a>
						</div>
						<a href="/admin/images" class="btn btn-blue">Powrót do listy obrazków</a>



					</div>
				</div>
			</div>
		</div>
	</div>

	{{template "adminfooter"}} {{end}}