{{define "adminaddcategory"}}{{template "adminheader" .}}
<style>
    .formsy {
        list-style-type: none;
    }
    span {
        display:block;
        font-size:14px;
        text-indent:5px;
    }
    label {
        font-size:16px;
    }
</style>
</head>

<body>
    <div id="cont" class="units-container bckgrnd">
        {{template "admintop" .}}



        <div id="main" class="units-row end" style="padding-top:30px;">
            <div class="unit-centered unit-80 bckgrnd5" style="padding:15px 20px;">
                <div class="units-row end">
                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="/admin">Panel administracyjny</a>
                            </li>
                            <li><span>Dodaj kategorie</span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="unit-row">
                    <div class="unit-100">

                        {{if .Error}} <p class="error bold upper big">Wystąpił błąd: {{.Error}}</p>{{end}}
                        <form method="post" action="/admin/form/addcategory" class="forms">


                            <p data-tools="buttons" data-target="#target">
                                <button id="butt0" class="btn butt" value="0" onclick="return false;">Kategoria</button>
                                <button id="butt1" class="btn butt" value="1" onclick="return false;">Adres internetowy</button>
                                <button id="butt2" class="btn butt" value="2" onclick="return false;">Kanał RSS</button>
                            </p>
                            <ul class="formsy">
                                <li class="pole1">
                                    <label>Nazwa<b class="req">*</b>
                                        <input type="text" name="Title" placeholder="Podaj tytuł..." {{with .Form.Title}}value="{{.}}" {{end}}/>
                                    </label>
                                </li>
                                <li class="pole2">
                                    <label>Kategoria nadrzędna<b class="req">*</b>
                                        <span>Wybierz do której kategorii ma zostać dodany element.</span>
                                        <select name="Inid">
                                            <option value="0">Strona główna</option>
                                            {{$forminid := .Form.Inid}}
                                            {{range .CategoriesTree}}
                                                {{template "admincategorytreeselect" .}}
                                                {{/*
                                                    {{if eq .Typeid 0}}
                                                        <option value="{{.Id}}" {{if eq $forminid .Id}}selected="selected" {{end}}>{{.Title}}</option>
                                                    {{end}}
                                                */}}
                                            {{end}}
                                        </select>
                                    </label>
                                </li>
                                <li class="pole3">
                                    <label>Kolor
                                        <span>Wybierz kolor belki</span>
                                        <select id="numbkolor" name="Colorid">
                                            <option class="c20" value="20" selected="selected">Przezroczysty</option>
                                            <option class="c0" value="0">Szary-100</option>
                                            <option class="c1" value="1">Niebieski-500</option>
                                            <option class="c2" value="2">Czerwony-500</option>
                                            <option class="c3" value="3">Różowy-500</option>
                                            <option class="c4" value="4">Purpurowy-500</option>
                                            <option class="c5" value="5">Mocno purpurowy-500</option>
                                            <option class="c6" value="6">Indigo-500</option>
                                            <option class="c7" value="7">Jasno niebieski-500</option>
                                            <option class="c8" value="8">Cyan-500</option>
                                            <option class="c9" value="9">Morski-500</option>
                                            <option class="c10" value="10">Zielony-500</option>
                                            <option class="c11" value="11">Jasno zielony-500</option>
                                            <option class="c12" value="12">Limonkowy-500</option>
                                            <option class="c13" value="13">Żółty-500</option>
                                            <option class="c14" value="14">Amber-500</option>
                                            <option class="c15" value="15">Pomarańczowy-500</option>
                                            <option class="c16" value="16">Mocno pomarańczowy-500</option>
                                            <option class="c17" value="17">Brązowy-500</option>
                                            <option class="c18" value="18">Szaro-niebieski-500</option>
                                            <option class="c19" value="19">Szary-500</option>
                                        </select>

                                    </label>
                                </li>
                                <li class="pole4">
                                    <label>Adres obrazka
                                        <span>Dozwolone formaty (zakończenie linku) to: .jpg, .png, .webp, .svg, .jpeg</span>
                                        <input type="text" name="Imageurl" placeholder="Podaj adres obrazka..." {{with .Form.Imageurl}}value="{{.}}" {{end}}/>
                                    </label>
                                </li>
                                <li class="pole5">
                                    <label>
                                        <input type="checkbox" name="Visible" checked="checked" {{with .Form.Visible}}value="{{.}}" {{end}}/>Widoczna?
                                    </label>
                                </li>
                                <li class="pole9">
                                    <label>
                                        <input type="checkbox" name="Hidetree" checked="checked" {{with .Form.Hidetree}}value="{{.}}"{{end}}/>Ukryte drzewo kategorii na stronie głównej (dotyczy tylko kategorii pierwszego rzędu znajdujących się na stronie głównej).
                                    </label>
                                </li>
                                <li class="pole6">
                                    <label>Kolejność
                                        <span>Pole nieobowiązkowe, element automatycznie jest dodawany jako ostatni.</span>
                                        <input type="number" name="Orderele" placeholder="Kolejność na liście..." {{with .Form.Orderele}}value="{{.}}" {{end}}/>
                                    </label>
                                </li>
                                <li class="pole7">
                                    <label>
                                        <input class="typeint" type="hidden" name="Typeid" placeholder="typeid int" {{with .Form.Typeid}}value="{{.}}" {{end}}/>
                                    </label>
                                </li>
                                <li class="pole8">
                                    <label>Adres URL<b class="req">*</b>
                                        <span>Przykład: <em>http://mojastrona.pl</em>. W przypadku kanału RSS np. http://wiadomosci.wp.pl/rss.xml</span>
                                        <input type="text" name="Txt" placeholder="Podaj adres URL/kanału..." {{with .Form.Txt}}value="{{.}}" {{end}}/>

                                    </label>
                                </li>
                            </ul>
                            <P>
                                <input class="btn btn-blue" type="submit" value="Wyslij" />
                            </P>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('body').ready(function () {
                var numb = "{{with .Form.Colorid}}{{.}}{{end}}";

                for (var i = 1; i < 10; i++) {
                    if (i == 4 || i == 8) {
                        $('.pole' + i).hide();
                    } else {
                        $('.pole' + i).show();
                    }
                }
                var buttnum = $('.typeint').val();
                if (buttnum == 1 || buttnum == 2) {
                    $('#butt' + buttnum).trigger('click').addClass('btn-active');
                } else {
                    $('#butt0').addClass('btn-active');
                    $('.typeint').attr('value', '0');
                }
                if( numb ) {
                    $('#numbkolor option:eq(' + numb + ')').attr('selected', 'selected')
                }
            });
            $('.butt').click(function () {
                if (this.value == 0) {
                    for (var i = 1; i < 10; i++) {
                        if (i == 4 || i == 8) {
                            $('.pole' + i).hide();
                        } else {
                            $('.pole' + i).show();
                        }
                    }
                } else if (this.value == 1) {
                    for (var i = 1; i < 10; i++) {
                        if (i == 4 || i == 9) {
                            $('.pole' + i).hide();
                        } else {
                            $('.pole' + i).show();
                        }
                    }
                } else if (this.value == 2) {
                    for (var i = 1; i < 10; i++) {
                        if (i == 4 || i == 9) {
                            $('.pole' + i).hide();
                        } else {
                            $('.pole' + i).show();
                        }
                    }
                }
                $('.typeint').val(this.value);
            });
        </script>

        {{template "adminfooter" .}} {{end}}
