{{define "category"}}{{template "header" .}} {{$ThisSiteAddress := .Domain.Address}}
{{$domainname := .Domain.Name}}
</head>

<body>
    <div id="cont" class="units-container bckgrnd">
        {{template "top" .}}
        <div id="main" class="units-row end">
            <div class="unit-centered unit-80 bckgrnd5" style="padding:15px 20px;">
                <div class="units-row end">
                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="/">{{$domainname}}</a>
                            </li>
                            {{if .Category.Tracetocategory}} {{template "categorytrace" .Category.Tracetocategory}} {{end}}
                            <li><span>{{.Category.Title}}</span>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="units-row">
                    <div class="unit-mobile-100 catego">
                        <ul>
                            {{range .Category.Insidecategory}} {{if .Visible}}
                            <a href="/{{if eq .Typeid 2}}rss{{else if eq .Typeid 1}}url{{else}}cat{{end}}/{{.Id}}">
                                <li class="c{{.Colorid}}">{{if .Imageurl}}<i class="fa fa-{{.Imageurl}}"></i>{{end}} {{.Title}}</li>
                            </a>
                            {{end}} {{end}}
                        </ul>
                    </div>
                </div>

                <div class="units-row">
                    <div class="unit-100 news-list">

                        {{if .PostsInCategory}}{{range .PostsInCategory}} {{/*if .Visible*/}}
                        <a href="/pic/{{.Id}}" class="no-style">
                            <div class="news-1 unit-mobile-100" {{/*style=" padding:10px 0 5px 0"*/}}>{{/*margin-bottom:10px;*/}}
                                <div class="news-badge"><i class="fa fa-chevron-right{{/*if eq .Type 2}}calendar{{else if .Type}}map-marker{{else}}comment{{end*/}}"></i>
                                </div>
                                <div class="news-badge-1">
                                    <h2>{{.Title}}</h2> {{/*
                                    <p style="display:none;">Ogólnopolska Karta Dużej Rodziny. Można już składać wnioski.</p>*/}}
                                </div>
                                <div class="sep">
                                    <div class="elems">{{/*<span><strong>26 grudnia 2014</strong> o 14:46</span>*/}} {{if ne $ThisSiteAddress .Url}}<span> z serwisu: <strong>{{.SiteName}}</strong></span>{{end}}</div>
                                </div>
                                <div class=""></div>
                            </div>
                        </a>
                        {{/*end*/}} {{end}}{{end}}
                    </div>
                </div>
                <div class="units-row">
                    <div class="unit-100 units-centered" style="text-align:center;">
                        <span class="btn-group ">
                            {{$id := .Category.Id}}
                            {{$pid := .PageId}}
							{{$pidp := .PageIdPlus}}
							{{$pidm := .PageIdMinus}}
                            {{if eq .PageId 0}}{{else if ne .PageIdMinus -1}}
								<a href="/cat/{{$id}}/{{.PageIdMinus}}">
									<button class="btn btn-outline pagin">&lt;&lt;</button>
								</a>
							{{end}}
                            {{range .PageList}}
								{{if or (ne $pidp -1) (ne $pidm -1)}}
									{{if eq . $pid}}
										<a href="/cat/{{$id}}/{{.}}">
											<button class="btn btn-outline btn-active pagin">{{add (int .) 1}}</button>
										</a>
									{{else}}
										<a href="/cat/{{$id}}/{{.}}">
											<button class="btn btn-outline pagin">{{add (int .) 1}}</button>
										</a>
									{{end}}
								{{end}}
                            {{end}}
                            {{if ne .PageIdPlus -1}}
								<a href="/cat/{{$id}}/{{.PageIdPlus}}">
									<button class="btn btn-outline pagin">>></button>
								</a>
							{{end}}

                        </span>
                    </div>
                </div>


            </div>
        </div>
        {{template "footer" .}} {{end}}
