{{define "contact"}}{{template "header" .}}
{{$domainname := .Domain.Name}}

</head>

<body>
    <div id="cont" class="units-container bckgrnd">
        {{template "top" .}}
        <div id="main" class="units-row end">
            <div class="unit-centered unit-80 bckgrnd5" style="padding:15px 20px;">
                <div class="units-row end">
                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="/">{{$domainname}}</a>
                            </li>
                            <li><span>Kontakt</span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="units-row">
                    {{if .Domain.Text}}
                    <div style="padding:20px 10px">
                        {{.Domain.TextStr}}
                    </div>
                    {{end}}
                </div>
                {{if or .Domain.Email .Domain.Telephone}}
                <div class="units-row">
                    <div class="unit-60 unit-centered bckgrnd2" style="padding: 1px 40px 60px 40px;">
						<div class="units-row end" style="margin-top: 50px;">
							<div class="unit-100" style="padding:20px">
								{{if .Domain.Email}}<a href="mailto:{{.Domain.Email}}" style="font-size:21px; margin-bottom:15px;text-decoration:none;"><div class="btn-red width-100" style="text-align:center;padding:20px 0;"><h3 style="color:#fff!important;">Wyślij e-mail</h3><p><i class="fa fa-envelope"></i> {{.Domain.Email}}</p></div></a>{{end}}
							</div>
							<div class="unit-100" style="padding:20px">
								{{if .Domain.Telephone}}<a href="tel:{{.Domain.Telephone}}" style="font-size:21px; margin-bottom:15px;text-decoration:none;"><div class="btn-green width-100" style="text-align:center;padding:20px 0;"><h3 style="color:#fff!important;">Zadzwoń</h3><p><i class="fa fa-phone"></i> {{.Domain.Telephone}}</p></div></a>{{end}}
							</div>
						</div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    {{template "footer" .}}{{end}}