{{define "footer"}}
        <div id="footer" class="units-row end" style="margin-top:30px;">
            <div class="unit-centered unit-80 footr">
                &copy; <a href="http://mobi.media.pl" target="_blank"><img src="/assets/img/footer.png" alt="Wykonanie mobi.media.pl"></a>
            </div>
        </div>
    </div><!-- end of cont(tent) -->


</body>
</html>
{{end}}
