{{define "front"}}{{template "header" .}}
{{/*<!--
<link rel="stylesheet" href="/assets/less/ext2.css">
<script>
    function initialize() {
        var poland = new google.maps.LatLng(52.168760, 20.816062),
            pointToMoveTo,
            first = true,
            curMarker = new google.maps.Marker({}),
            $el;

        var mapOptions = {
            zoom: 8,
            draggable: false,
            //center: new google.maps.LatLng(-34.397, 150.644)
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        $(".place-list .place-1").mouseenter(function () {

            $el = $(this);

            if (!$el.hasClass("hover")) {

                $(".place-list .place-1").removeClass("hover");
                $el.addClass("hover");

                if (!first) {

                    // Clear current marker
                    curMarker.setMap();

                    // Set zoom back to Chicago level
                    // map.setZoom(10);
                }

                // Move (pan) map to new location
                pointToMoveTo = new google.maps.LatLng($el.attr("data-geo-lat"), $el.attr("data-geo-long"));
                map.panTo(pointToMoveTo);
                map.setZoom(8);

                // Add new marker
                curMarker = new google.maps.Marker({
                    position: pointToMoveTo,
                    map: map,
                });

                var contentString = $el.find("h3").html().concat('<br/>').concat($el.find("p").html());


                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                // On click, zoom map
                google.maps.event.addListener(curMarker, 'click', function () {
                    map.setZoom(15);
                    infowindow.open(map, curMarker);
                });

                // Fill more info area
                //$("#more-info")
                //    .find("h2")
                //      .html($el.find("h3").html())
                //      .end()
                //    .find("p")
                //      .html($el.find(".longdesc").html());

                // No longer the first time through (re: marker clearing)
                first = false;
            }

        });

        $(".place-list .place-1:first").trigger("mouseenter");

    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
            'callback=initialize';
        document.body.appendChild(script);
    }

    window.onload = loadScript;
</script>
<script>
    $('body').ready(function () {
                $('.annontext').replace(/\<(.*?)\>/g, '');
            }
</script>-->*/}}
</head>

<body>
    <div id="cont" class="units-container bckgrnd">
        {{template "top" .}}
        <div id="main" class="units-row end">
            <div class="unit-centered unit-80 bckgrnd5" style="padding:0px 15px 20px 15px;">
                <br />
                <div class="units-row end" style="margin-bottom:12px;">
                    <div class="unit-mobile-100 catego">
                        <ul>
							{{if .Domain.Showonfrontpage}}
                            {{if and .postinfrontpage (ne .postinfrontpage.Id 0)}}
                            <a href="{{.postinfrontpage.Adres}}">
                                <li class="{{if eq .postinfrontpage.Type 2}}c5{{else if .postinfrontpage.Type}}c18{{else}}c6{{end}}">
									{{/*<div style="display:inline-block;float:left;padding: 8px 14px 8px 0;"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x" style="color:#fff;"></i>
                                        {{if eq .postinfrontpage.Type 2}}<i class="fa fa-calendar fa-stack-1x fa-inverse" style="color:#673ab7"></i>{{else if .postinfrontpage.Type}}<i class="fa fa-map-marker fa-stack-1x fa-inverse" style="color:#607d8b;"></i>{{else}}<i class="fa fa-comment fa-stack-1x fa-inverse" style="color:#3f51b5"></i>{{end}}
</span>
                                    </div>*/}}
                                    <div style="display:inline-block">
                                        <p style="font-weight:400;font-size:24px;margin: 0;padding: 0;">{{if eq .postinfrontpage.Type 2}}<i class="fa fa-calendar"></i>{{else if .postinfrontpage.Type}}<i class="fa fa-map-marker"></i>{{else}}<i class="fa fa-comment"></i>{{end}} {{.postinfrontpage.Title}}</p>
                                    </div>
                                    <div style="display:block">
                                        <p style="font-size: 20px;margin: 0;">{{if eq .postinfrontpage.Type 2}}{{if eq .postinfrontpage.Eventtime .postinfrontpage.Eventtime}}Rozpoczyna się: {{.postinfrontpage.Eventtime}}{{else}}Trwa od {{.postinfrontpage.Eventtime}} do {{.postinfrontpage.Eventtimeend}}{{end}}{{else if .postinfrontpage.Type}}Adres: {{.postinfrontpage.Address}}{{else}}Kliknij tutaj, aby przejść do artykułu.{{end}}</p>
                                    </div>
                                </li>
                            </a>
                            {{end}}{{end}}

							{{/*<a href="http://mpolska.mobi/search">
                                <li class="c10">
                                    <div style="display:inline-block;float:left;padding: 8px 14px 8px 0;"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x" style="color:#111;"></i>
<i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
</span>
                                    </div>
                                    <div style="display:inline-block">
                                        <p style="font-weight:400;font-size:28px;margin: 0;padding: 0;">Gdzie najbliżej?</p>
                                    </div>
                                    <div style="display:block">
                                        <p style="font-size: 20px;margin: 0;">Znajdź interesujące Ciebie obiekty w Twojej okolicy</p>
                                    </div>
                                </li>
                            </a>*/}}

							<a href="http://mpolska.mobi/search">
                                <li class="c10">
									<i class="fa fa-compass" style="font-size: 30px;margin-right: 10px;"></i> Gdzie najbliżej?
								</li>
							</a>

                            {{range .Categories}} {{if .Visible}}
                            <a href="/{{if eq .Typeid 2}}rss/{{.Id}}">{{else if eq .Typeid 1}}url/{{.Id}}" target="_blank">{{else}}cat/{{.Id}}">{{end}}
                                <li class="c{{.Colorid}}">{{if .Imageurl}}<i class="fa fa-{{.Imageurl}}"></i>{{end}} {{.Title}}</li>
                            </a>
                            {{if and .Insidecategory (not .Hidetree)}}
                            <ul class="insidecategory">
                                {{range .Insidecategory}} {{if .Visible}}
                                <a href="/{{if eq .Typeid 2}}rss/{{.Id}}">{{else if eq .Typeid 1}}url/{{.Id}}" target="_blank">{{else}}cat/{{.Id}}">{{end}}
                                    <li class="c{{.Colorid}}">{{if .Imageurl}}<i class="fa fa-{{.Imageurl}}"></i>{{end}} {{.Title}}</li>
                                </a>
                                {{end}} {{end}}
                            </ul> {{end}} {{end}} {{end}}



                        </ul>
                    </div>
                </div>
                {{if .Domain.Announcements}}
                {{if .announcements}}
                <div class="units-row anndiv bckgrnd1">
                    <a href="/li1"><div class="unit-mobile-100 purple-800 announcementshead">
                        Ogłoszenia
					</div></a>

                     <div class="unit-mobile-100 catego">
                        <ul>
                            {{range .announcements}}
                            <a href="/li1/{{.Id}}" target="_blank">
                                <li class="c9"><i class="fa fa-chevron-right"></i> {{.Title}}{{/*.Text*/}}</li>
                            </a>
                            {{end}}
                            <li style="text-align:center;"><a href="/li1">Zobacz więcej ogłoszeń...</a></li>
                        </ul>
                    </div>
                </div>{{else}}
                <div class="units-row">
                    <div class="unit-mobile-100 catego">
                        <ul>
                            <a href="/li1">
                                <li class="c9"><i class="fa fa-chevron-right"></i> Ogłoszenia</li>
                            </a>
                        </ul>
                    </div>
                </div>
                {{end}}{{end}}
            </div>
        </div>
        <!-- end of main -->
        {{template "footer" .}} {{end}}
