{{define "header"}}<!DOCTYPE html>
<html>

<head>
    <title>{{.Domain.Name}}</title>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="/assets/css/main.css" async/>
    
    <script src="/assets/js/jqueryymin.js" async></script>

    
    
{{end}}
