{{define "top"}}
{{$VarMain := .VarMain}}

<div id="header" class="units-row end logo">
		<div class="unit-centered unit-80 bckgrnd1" style="{{if .Domain.Image}}background:url({{.Domain.Image}});background-size: cover; min-height:200px;{{else}}{{end}}position:relative;z-index:111;">
		</div>
</div>


<nav class="{{if eq .Domain.Color 4}}headnav headnav4{{else if eq .Domain.Color 3}}headnav headnav3{{else if eq .Domain.Color 2}}headnav headnav2{{else if eq .Domain.Color 1}}headnav headnav1{{else}}headnav{{end}}" style="z-index:999;">
    <ul class="nav-ul">
        <li class="active2"><a href="/" alt="{{.Domain.Name}}">{{.Domain.Name}}</a>
        </li>
		<li><a href="/search" alt="Gdzie najbliżej">Gdzie najbliżej</a></li>
        <li><a href="/contact">Kontakt</a>
        </li>
        {{if ne .Domain.Address $VarMain}}<li><a href="http://mpolska.mobi" target="_blank"><i class="fa fa-globe"></i></a></li>{{end}}

    </ul>

        {{if not .iframe}}<div class="topmenu"><a href="/google"><i class="fa fa-search fa-2x" style="margin-right:15px"></i></a> <a href="#" id="views"><i class="fa fa-cog fa-2x"></i></a>
        </div>

        <div id="viewsmenu" style="display:none">
            <li><a href="#" class="fontplus">Powiększona czcionka <span class="label label-red"><i class="fa fa-plus"></i></span></a>
            </li>
            <li class="divider"></li>
            <li><a href="#" class="highcontras">Zwiększ kontrast <i class="fa fa-adjust"></i></a>
            </li>
        </div>{{end}}

    <div class="icons ellipsis">
        <a href="#" id="hem1" style="float:left; text-decoration: none; font-size: 29px; line-height: 34px; padding: 13px;"><i class="fa fa-bars" style="margin-right: 10px;"></i> <i class="fa fa-home"></i></a>
        <a href="/search" style="float:right; right:5px;"><i class="fa fa-question"></i></a>
        <a href="/google" style="float:right; right:55px;"><i class="fa fa-search"></i></a>
    </div>
    <div id="hm1" class="headnav-mobile" style="display:none;">
        <li class="active2"><a href="/"><i class="fa fa-home"></i> {{.Domain.Name}}</a>
        </li>
        <li><a href="http://{{$VarMain}}/search">Gdzie najbliżej <i class="fa fa-question"></i></a>
        </li>
        <li><a href="/qr">Kody QR <i class="fa fa-qrcode"></i> </a>
        </li>
        <li><a href="/google">Wyszukiwarka <i class="fa fa-search"></i> </a>
        </li>
        <li><a href="/contact">Kontakt <i class="fa fa-phone"></i> </a>
        </li>
        <li class="divider"></li>
		<li><a href="#" class="fontplus">Powiększona czcionka <span class="label label-red"><i class="fa fa-plus"></i></span></a>
        </li>
        <li><a href="#" class="highcontras">Zwiększ kontrast <i class="fa fa-adjust"></i></a>
        </li>
    </div>
	
   <!-- <div id="hm2" class="headnav-mobile" style="display:none;">
        <li><a href="#" class="fontplus">Powiększona czcionka <span class="label label-red"><i class="fa fa-plus"></i></span></a>
        </li>
        <li class="divider"></li>
        <li><a href="#" class="highcontras">Zwiększ kontrast <i class="fa fa-adjust"></i></a>
        </li>
    </div>-->
    <script>
        var g = 0,
            h = 0,
            v = 0,
            hc= 0,
            fn= 0;
        var str = 'Zmniejsz kontrast <i class="fa fa-adjust"></i>',
            str2= 'Zwiększ kontrast <i class="fa fa-adjust"></i>',
            str3= 'Standardowa czcionka <i class="fa fa-font"></i>';
            str4= 'Powiększ czcionkę <i class="fa fa-plus"></i>',
        $('#hem1').click(function () {
            if (g == 0) {
                g = 1;
                if (h == 1) {
                    h = 0;
                    $('#hm2').hide();
                }
                $('#hm1').show();
            } else {
                g = 0;
                $('#hm1').hide();
            }
			return false;
        });
        $('#hem2').click(function () {
            if (h == 0) {
                h = 1;
                if (g == 1) {
                    g = 0;
                    $('#hm1').hide();
                }
                $('#hm2').show();
            } else {
                h = 0;
                $('#hm2').hide();
            }
			return false;
        });
        $('#views').click(function() {
            if(v==0){
                $('#viewsmenu').show();
                v=1;
            } else {
                $('#viewsmenu').hide();
                v=0;
            }
        });
        $('.highcontras').click(function(){
            if(hc==0){
                $.cookie('hc', '1', { expires: 7, path: '/' });
                hc=1;
                $('head').append('<link rel="stylesheet" type="text/css" href="/assets/less/ext2.css">');
                $('.highcontras').html(str);
            } else {
                hc=0;
                $.cookie('hc', '0');
                $('link[href="/assets/less/ext2.css"]').prop("disabled", true);
                $('.highcontras').html(str2);
            }
        });
        $('.fontplus').click(function(){
            if(fn==0){
                $.cookie('fn', '1', { expires: 7, path: '/' });
                fn=1;
                $('head').append('<link rel="stylesheet" type="text/css" href="/assets/less/ext3.css">');
                $('.fontplus').html(str3);
            } else {
                fn=0;
                $.cookie('fn', '0');
                $('link[href="/assets/less/ext3.css"]').prop("disabled", true);
                $('.fontplus').html(str4);
            }
        });

        $('body').ready(function(){
           if( $.cookie('hc') == 1){
                hc=1;
                $('head').append('<link rel="stylesheet" type="text/css" href="/assets/less/ext2.css">');
                $('.highcontras').html(str);
           } else {
                hc=0;
                $.cookie('hc', '0');
                $('link[href="/assets/less/ext2.css"]').prop("disabled", true);
                $('.highcontras').html(str2);
            }
           if( $.cookie('fn') == 1){
                fn=1;
                $('head').append('<link rel="stylesheet" type="text/css" href="/assets/less/ext3.css">');
                $('.fontplus').html(str3);
           } else {
                fn=0;
                $.cookie('fn', '0');
                $('link[href="/assets/less/ext3.css"]').prop("disabled", true);
                $('.fontplus').html(str4);
            }
        });

    </script>
</nav>
<div class="mobileimg units-row end">
	<div class="unit-centered unit-100 bckgrnd1" style="{{if .Domain.Image}}background:url({{.Domain.Image}});background-size: cover; min-height:100px;{{else}}{{end}}position:relative;z-index:2;">
    </div>

	<span class="headnav-name"><i class="fa fa-chevron-right"></i> {{.Domain.Name}}</span>
</div>


{{end}}
