/*thankstomaterial-ui-com*/
.mui-text-full-black {
  color: #000000;
}
.mui-text-dark-black {
  color: rgba(0, 0, 0, 0.87);
}
.mui-text-light-black {
  color: rgba(0, 0, 0, 0.54);
}
.mui-text-min-black {
  color: rgba(0, 0, 0, 0.26);
}
.mui-text-full-white {
  color: #ffffff;
}
.mui-text-dark-white {
  color: rgba(255, 255, 255, 0.87);
}
.mui-text-light-white {
  color: rgba(255, 255, 255, 0.54);
}
.mui-font-weight-light {
  font-weight: 300;
}
.mui-font-weight-normal {
  font-weight: 400;
}
.mui-font-weight-medium {
  font-weight: 500;
}
/* Type Styles */
.mui-font-style-display-4 {
  font-size: 112px;
  line-height: 128px;
  letter-spacing: -7px;
  padding-top: 17px;
  margin-bottom: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
}
.mui-font-style-display-3 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  padding-top: 8px;
  margin-bottom: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}
.mui-font-style-display-2 {
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 11px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}
.mui-font-style-display-1 {
  font-size: 34px;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}
.mui-font-style-headline {
  font-size: 24px;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.mui-font-style-title {
  font-size: 20px;
  line-height: 28px;
  padding-top: 19px;
  margin-bottom: 13px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
.mui-font-style-subhead-2 {
  font-size: 15px;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.mui-font-style-subhead-1 {
  font-size: 15px;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 24px;
  padding-top: 3px;
  margin-bottom: 13px;
  color: rgba(0, 0, 0, 0.87);
}
.mui-font-style-body-2 {
  font-size: 13px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
.mui-font-style-body-1 {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.mui-font-style-caption {
  font-size: 12px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}
.mui-font-style-menu {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
.mui-font-style-button {
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
.red-50 {
  background-color: #ffebee;
}
.red-50:hover {
  background-color: #ffaeba;
}
.red-100 {
  background-color: #ffcdd2;
}
.red-100:hover {
  background-color: #ff909b;
}
.red-200 {
  background-color: #ef9a9a;
}
.red-200:hover {
  background-color: #e76565;
}
.red-300 {
  background-color: #e57373;
}
.red-300:hover {
  background-color: #db3f3f;
}
.red-400 {
  background-color: #ef5350;
}
.red-400:hover {
  background-color: #ea1c18;
}
.red-500 {
  background-color: #f44336;
}
.red-500:hover {
  background-color: #e11b0c;
}
.red-600 {
  background-color: #e53935;
}
.red-600:hover {
  background-color: #c41d19;
}
.red-700 {
  background-color: #d32f2f;
}
.red-700:hover {
  background-color: #a22222;
}
.red-800 {
  background-color: #c62828;
}
.red-800:hover {
  background-color: #931e1e;
}
.red-900 {
  background-color: #b71c1c;
}
.red-900:hover {
  background-color: #821414;
}
.red-A100 {
  background-color: #ff8a80;
}
.red-A100:hover {
  background-color: #ff5243;
}
.red-A200 {
  background-color: #ff5252;
}
.red-A200:hover {
  background-color: #ff1515;
}
.red-A400 {
  background-color: #ff1744;
}
.red-A400:hover {
  background-color: #d9002a;
}
.red-A700 {
  background-color: #d50000;
}
.red-A700:hover {
  background-color: #980000;
}
.pink-50 {
  background-color: #fce4ec;
}
.pink-50:hover {
  background-color: #f6adc5;
}
.pink-100 {
  background-color: #f8bbd0;
}
.pink-100:hover {
  background-color: #f284aa;
}
.pink-200 {
  background-color: #f48fb1;
}
.pink-200:hover {
  background-color: #ef578a;
}
.pink-300 {
  background-color: #f06292;
}
.pink-300:hover {
  background-color: #eb2a6b;
}
.pink-400 {
  background-color: #ec407a;
}
.pink-400:hover {
  background-color: #d91658;
}
.pink-500 {
  background-color: #e91e63;
}
.pink-500:hover {
  background-color: #b8124a;
}
.pink-600 {
  background-color: #d81b60;
}
.pink-600:hover {
  background-color: #a21448;
}
.pink-700 {
  background-color: #c2185b;
}
.pink-700:hover {
  background-color: #8c1141;
}
.pink-800 {
  background-color: #ad1457;
}
.pink-800:hover {
  background-color: #760e3b;
}
.pink-900 {
  background-color: #880e4f;
}
.pink-900:hover {
  background-color: #51082f;
}
.pink-A100 {
  background-color: #ff80ab;
}
.pink-A100:hover {
  background-color: #ff4383;
}
.pink-A200 {
  background-color: #ff4081;
}
.pink-A200:hover {
  background-color: #ff0359;
}
.pink-A400 {
  background-color: #f50057;
}
.pink-A400:hover {
  background-color: #b80041;
}
.pink-A700 {
  background-color: #c51162;
}
.pink-A700:hover {
  background-color: #8d0c46;
}
.purple-50 {
  background-color: #f3e5f5;
}
.purple-50:hover {
  background-color: #dfb9e4;
}
.purple-100 {
  background-color: #e1bee7;
}
.purple-100:hover {
  background-color: #cc91d6;
}
.purple-200 {
  background-color: #ce93d8;
}
.purple-200:hover {
  background-color: #ba66c8;
}
.purple-300 {
  background-color: #ba68c8;
}
.purple-300:hover {
  background-color: #a141b2;
}
.purple-400 {
  background-color: #ab47bc;
}
.purple-400:hover {
  background-color: #843591;
}
.purple-500 {
  background-color: #9c27b0;
}
.purple-500:hover {
  background-color: #701c7e;
}
.purple-600 {
  background-color: #8e24aa;
}
.purple-600:hover {
  background-color: #641977;
}
.purple-700 {
  background-color: #7b1fa2;
}
.purple-700:hover {
  background-color: #54156f;
}
.purple-800 {
  background-color: #6a1b9a;
}
.purple-800:hover {
  background-color: #461266;
}
.purple-900 {
  background-color: #4a148c;
}
.purple-900:hover {
  background-color: #2e0c56;
}
.purple-A100 {
  background-color: #ea80fc;
}
.purple-A100:hover {
  background-color: #e044fb;
}
.purple-A200 {
  background-color: #e040fb;
}
.purple-A200:hover {
  background-color: #d505f9;
}
.purple-A400 {
  background-color: #d500f9;
}
.purple-A400:hover {
  background-color: #a100bc;
}
.purple-A700 {
  background-color: #aa00ff;
}
.purple-A700:hover {
  background-color: #8100c2;
}
.deep-purple-50 {
  background-color: #ede7f6;
}
.deep-purple-50:hover {
  background-color: #ccbae5;
}
.deep-purple-100 {
  background-color: #d1c4e9;
}
.deep-purple-100:hover {
  background-color: #ae97d8;
}
.deep-purple-200 {
  background-color: #b39ddb;
}
.deep-purple-200:hover {
  background-color: #9070cb;
}
.deep-purple-300 {
  background-color: #9575cd;
}
.deep-purple-300:hover {
  background-color: #7248bd;
}
.deep-purple-400 {
  background-color: #7e57c2;
}
.deep-purple-400:hover {
  background-color: #603ba1;
}
.deep-purple-500 {
  background-color: #673ab7;
}
.deep-purple-500:hover {
  background-color: #4d2b89;
}
.deep-purple-600 {
  background-color: #5e35b1;
}
.deep-purple-600:hover {
  background-color: #452782;
}
.deep-purple-700 {
  background-color: #512da8;
}
.deep-purple-700:hover {
  background-color: #3a2078;
}
.deep-purple-800 {
  background-color: #4527a0;
}
.deep-purple-800:hover {
  background-color: #301b6f;
}
.deep-purple-900 {
  background-color: #311b92;
}
.deep-purple-900:hover {
  background-color: #20115e;
}
.deep-purple-A100 {
  background-color: #b388ff;
}
.deep-purple-A100:hover {
  background-color: #8c4bff;
}
.deep-purple-A200 {
  background-color: #7c4dff;
}
.deep-purple-A200:hover {
  background-color: #4f10ff;
}
.deep-purple-A400 {
  background-color: #651fff;
}
.deep-purple-A400:hover {
  background-color: #4600e1;
}
.deep-purple-A700 {
  background-color: #6200ea;
}
.deep-purple-A700:hover {
  background-color: #4800ad;
}
.indigo-50 {
  background-color: #e8eaf6;
}
.indigo-50:hover {
  background-color: #bcc2e5;
}
.indigo-100 {
  background-color: #c5cae9;
}
.indigo-100:hover {
  background-color: #99a1d8;
}
.indigo-200 {
  background-color: #9fa8da;
}
.indigo-200:hover {
  background-color: #7380c9;
}
.indigo-300 {
  background-color: #7986cb;
}
.indigo-300:hover {
  background-color: #4d5eba;
}
.indigo-400 {
  background-color: #5c6bc0;
}
.indigo-400:hover {
  background-color: #3e4da1;
}
.indigo-500 {
  background-color: #3f51b5;
}
.indigo-500:hover {
  background-color: #2f3d88;
}
.indigo-600 {
  background-color: #3949ab;
}
.indigo-600:hover {
  background-color: #2a357d;
}
.indigo-700 {
  background-color: #303f9f;
}
.indigo-700:hover {
  background-color: #222c70;
}
.indigo-800 {
  background-color: #283593;
}
.indigo-800:hover {
  background-color: #1b2463;
}
.indigo-900 {
  background-color: #1a237e;
}
.indigo-900:hover {
  background-color: #10154b;
}
.indigo-A100 {
  background-color: #8c9eff;
}
.indigo-A100:hover {
  background-color: #4f6aff;
}
.indigo-A200 {
  background-color: #536dfe;
}
.indigo-A200:hover {
  background-color: #1639fe;
}
.indigo-A400 {
  background-color: #3d5afe;
}
.indigo-A400:hover {
  background-color: #0127fc;
}
.indigo-A700 {
  background-color: #304ffe;
}
.indigo-A700:hover {
  background-color: #0125f0;
}
.blue-50 {
  background-color: #e3f2fd;
}
.blue-50:hover {
  background-color: #aad7f9;
}
.blue-100 {
  background-color: #bbdefb;
}
.blue-100:hover {
  background-color: #81c2f8;
}
.blue-200 {
  background-color: #90caf9;
}
.blue-200:hover {
  background-color: #56aef6;
}
.blue-300 {
  background-color: #64b5f6;
}
.blue-300:hover {
  background-color: #2a99f3;
}
.blue-400 {
  background-color: #42a5f5;
}
.blue-400:hover {
  background-color: #0d89ed;
}
.blue-500 {
  background-color: #2196f3;
}
.blue-500:hover {
  background-color: #0b76cc;
}
.blue-600 {
  background-color: #1e88e5;
}
.blue-600:hover {
  background-color: #1468b1;
}
.blue-700 {
  background-color: #1976d2;
}
.blue-700:hover {
  background-color: #12579b;
}
.blue-800 {
  background-color: #1565c0;
}
.blue-800:hover {
  background-color: #0f4889;
}
.blue-900 {
  background-color: #0d47a1;
}
.blue-900:hover {
  background-color: #082e68;
}
.blue-A100 {
  background-color: #82b1ff;
}
.blue-A100:hover {
  background-color: #458bff;
}
.blue-A200 {
  background-color: #448aff;
}
.blue-A200:hover {
  background-color: #0764ff;
}
.blue-A400 {
  background-color: #2979ff;
}
.blue-A400:hover {
  background-color: #0058eb;
}
.blue-A700 {
  background-color: #2962ff;
}
.blue-A700:hover {
  background-color: #003feb;
}
.light-blue-50 {
  background-color: #e1f5fe;
}
.light-blue-50:hover {
  background-color: #a6e1fc;
}
.light-blue-100 {
  background-color: #b3e5fc;
}
.light-blue-100:hover {
  background-color: #78d1fa;
}
.light-blue-200 {
  background-color: #81d4fa;
}
.light-blue-200:hover {
  background-color: #46c0f8;
}
.light-blue-300 {
  background-color: #4fc3f7;
}
.light-blue-300:hover {
  background-color: #14aff4;
}
.light-blue-400 {
  background-color: #29b6f6;
}
.light-blue-400:hover {
  background-color: #0998d9;
}
.light-blue-500 {
  background-color: #03a9f4;
}
.light-blue-500:hover {
  background-color: #027fb8;
}
.light-blue-600 {
  background-color: #039be5;
}
.light-blue-600:hover {
  background-color: #0272a9;
}
.light-blue-700 {
  background-color: #0288d1;
}
.light-blue-700:hover {
  background-color: #016194;
}
.light-blue-800 {
  background-color: #0277bd;
}
.light-blue-800:hover {
  background-color: #015180;
}
.light-blue-900 {
  background-color: #01579b;
}
.light-blue-900:hover {
  background-color: #01355e;
}
.light-blue-A100 {
  background-color: #80d8ff;
}
.light-blue-A100:hover {
  background-color: #43c5ff;
}
.light-blue-A200 {
  background-color: #40c4ff;
}
.light-blue-A200:hover {
  background-color: #03b1ff;
}
.light-blue-A400 {
  background-color: #00b0ff;
}
.light-blue-A400:hover {
  background-color: #0086c2;
}
.light-blue-A700 {
  background-color: #0091ea;
}
.light-blue-A700:hover {
  background-color: #006bad;
}
.cyan-50 {
  background-color: #e0f7fa;
}
.cyan-50:hover {
  background-color: #abe9f2;
}
.cyan-100 {
  background-color: #b2ebf2;
}
.cyan-100:hover {
  background-color: #7edde9;
}
.cyan-200 {
  background-color: #80deea;
}
.cyan-200:hover {
  background-color: #4bd0e1;
}
.cyan-300 {
  background-color: #4dd0e1;
}
.cyan-300:hover {
  background-color: #23bace;
}
.cyan-400 {
  background-color: #26c6da;
}
.cyan-400:hover {
  background-color: #1c97a6;
}
.cyan-500 {
  background-color: #00bcd4;
}
.cyan-500:hover {
  background-color: #008697;
}
.cyan-600 {
  background-color: #00acc1;
}
.cyan-600:hover {
  background-color: #007584;
}
.cyan-700 {
  background-color: #0097a7;
}
.cyan-700:hover {
  background-color: #00606a;
}
.cyan-800 {
  background-color: #00838f;
}
.cyan-800:hover {
  background-color: #004b52;
}
.cyan-900 {
  background-color: #006064;
}
.cyan-900:hover {
  background-color: #002527;
}
.cyan-A100 {
  background-color: #84ffff;
}
.cyan-A100:hover {
  background-color: #47ffff;
}
.cyan-A200 {
  background-color: #18ffff;
}
.cyan-A200:hover {
  background-color: #00dada;
}
.cyan-A400 {
  background-color: #00e5ff;
}
.cyan-A400:hover {
  background-color: #00aec2;
}
.cyan-A700 {
  background-color: #00b8d4;
}
.cyan-A700:hover {
  background-color: #008397;
}
.teal-50 {
  background-color: #e0f2f1;
}
.teal-50:hover {
  background-color: #b5e0de;
}
.teal-100 {
  background-color: #b2dfdb;
}
.teal-100:hover {
  background-color: #87cdc7;
}
.teal-200 {
  background-color: #80cbc4;
}
.teal-200:hover {
  background-color: #55b9b0;
}
.teal-300 {
  background-color: #4db6ac;
}
.teal-300:hover {
  background-color: #3a8c84;
}
.teal-400 {
  background-color: #26a69a;
}
.teal-400:hover {
  background-color: #1b746c;
}
.teal-500 {
  background-color: #009688;
}
.teal-500:hover {
  background-color: #005951;
}
.teal-600 {
  background-color: #00897b;
}
.teal-600:hover {
  background-color: #004c44;
}
.teal-700 {
  background-color: #00796b;
}
.teal-700:hover {
  background-color: #003c35;
}
.teal-800 {
  background-color: #00695c;
}
.teal-800:hover {
  background-color: #002c26;
}
.teal-900 {
  background-color: #004d40;
}
.teal-900:hover {
  background-color: #00100d;
}
.teal-A100 {
  background-color: #a7ffeb;
}
.teal-A100:hover {
  background-color: #6affdd;
}
.teal-A200 {
  background-color: #64ffda;
}
.teal-A200:hover {
  background-color: #27ffcb;
}
.teal-A400 {
  background-color: #1de9b6;
}
.teal-A400:hover {
  background-color: #12b78e;
}
.teal-A700 {
  background-color: #00bfa5;
}
.teal-A700:hover {
  background-color: #008270;
}
.green-50 {
  background-color: #e8f5e9;
}
.green-50:hover {
  background-color: #bde2c0;
}
.green-100 {
  background-color: #c8e6c9;
}
.green-100:hover {
  background-color: #9ed3a0;
}
.green-200 {
  background-color: #a5d6a7;
}
.green-200:hover {
  background-color: #7bc37e;
}
.green-300 {
  background-color: #81c784;
}
.green-300:hover {
  background-color: #57b45b;
}
.green-400 {
  background-color: #66bb6a;
}
.green-400:hover {
  background-color: #469e4a;
}
.green-500 {
  background-color: #4caf50;
}
.green-500:hover {
  background-color: #39843c;
}
.green-600 {
  background-color: #43a047;
}
.green-600:hover {
  background-color: #317534;
}
.green-700 {
  background-color: #388e3c;
}
.green-700:hover {
  background-color: #276229;
}
.green-800 {
  background-color: #2e7d32;
}
.green-800:hover {
  background-color: #1e5020;
}
.green-900 {
  background-color: #1b5e20;
}
.green-900:hover {
  background-color: #0d2e10;
}
.green-A100 {
  background-color: #b9f6ca;
}
.green-A100:hover {
  background-color: #83efa1;
}
.green-A200 {
  background-color: #69f0ae;
}
.green-A200:hover {
  background-color: #31ea90;
}
.green-A400 {
  background-color: #00e676;
}
.green-A400:hover {
  background-color: #00a957;
}
.green-A700 {
  background-color: #00c853;
}
.green-A700:hover {
  background-color: #008b3a;
}
.light-green-50 {
  background-color: #f1f8e9;
}
.light-green-50:hover {
  background-color: #d3e9bb;
}
.light-green-100 {
  background-color: #dcedc8;
}
.light-green-100:hover {
  background-color: #bfde9a;
}
.light-green-200 {
  background-color: #c5e1a5;
}
.light-green-200:hover {
  background-color: #a7d277;
}
.light-green-300 {
  background-color: #aed581;
}
.light-green-300:hover {
  background-color: #90c653;
}
.light-green-400 {
  background-color: #9ccc65;
}
.light-green-400:hover {
  background-color: #7eb73d;
}
.light-green-500 {
  background-color: #8bc34a;
}
.light-green-500:hover {
  background-color: #6c9c34;
}
.light-green-600 {
  background-color: #7cb342;
}
.light-green-600:hover {
  background-color: #5d8632;
}
.light-green-700 {
  background-color: #689f38;
}
.light-green-700:hover {
  background-color: #4a7228;
}
.light-green-800 {
  background-color: #558b2f;
}
.light-green-800:hover {
  background-color: #395d20;
}
.light-green-900 {
  background-color: #33691e;
}
.light-green-900:hover {
  background-color: #1c3910;
}
.light-green-A100 {
  background-color: #ccff90;
}
.light-green-A100:hover {
  background-color: #b0ff53;
}
.light-green-A200 {
  background-color: #b2ff59;
}
.light-green-A200:hover {
  background-color: #96ff1c;
}
.light-green-A400 {
  background-color: #76ff03;
}
.light-green-A400:hover {
  background-color: #5ac500;
}
.light-green-A700 {
  background-color: #64dd17;
}
.light-green-A700:hover {
  background-color: #4ba611;
}
.lime-50 {
  background-color: #f9fbe7;
}
.lime-50:hover {
  background-color: #ecf2b3;
}
.lime-100 {
  background-color: #f0f4c3;
}
.lime-100:hover {
  background-color: #e3eb8f;
}
.lime-200 {
  background-color: #e6ee9c;
}
.lime-200:hover {
  background-color: #d9e568;
}
.lime-300 {
  background-color: #dce775;
}
.lime-300:hover {
  background-color: #cfde41;
}
.lime-400 {
  background-color: #d4e157;
}
.lime-400:hover {
  background-color: #c4d526;
}
.lime-500 {
  background-color: #cddc39;
}
.lime-500:hover {
  background-color: #a9b720;
}
.lime-600 {
  background-color: #c0ca33;
}
.lime-600:hover {
  background-color: #929927;
}
.lime-700 {
  background-color: #afb42b;
}
.lime-700:hover {
  background-color: #7f831f;
}
.lime-800 {
  background-color: #9e9d24;
}
.lime-800:hover {
  background-color: #6c6b19;
}
.lime-900 {
  background-color: #827717;
}
.lime-900:hover {
  background-color: #4e470e;
}
.lime-A100 {
  background-color: #f4ff81;
}
.lime-A100:hover {
  background-color: #efff44;
}
.lime-A200 {
  background-color: #eeff41;
}
.lime-A200:hover {
  background-color: #e9ff04;
}
.lime-A400 {
  background-color: #c6ff00;
}
.lime-A400:hover {
  background-color: #96c200;
}
.lime-A700 {
  background-color: #aeea00;
}
.lime-A700:hover {
  background-color: #80ad00;
}
.yellow-50 {
  background-color: #fffde7;
}
.yellow-50:hover {
  background-color: #fff8aa;
}
.yellow-100 {
  background-color: #fff9c4;
}
.yellow-100:hover {
  background-color: #fff387;
}
.yellow-200 {
  background-color: #fff59d;
}
.yellow-200:hover {
  background-color: #ffef60;
}
.yellow-300 {
  background-color: #fff176;
}
.yellow-300:hover {
  background-color: #ffeb39;
}
.yellow-400 {
  background-color: #ffee58;
}
.yellow-400:hover {
  background-color: #ffe81b;
}
.yellow-500 {
  background-color: #ffeb3b;
}
.yellow-500:hover {
  background-color: #fde300;
}
.yellow-600 {
  background-color: #fdd835;
}
.yellow-600:hover {
  background-color: #f2c602;
}
.yellow-700 {
  background-color: #fbc02d;
}
.yellow-700:hover {
  background-color: #e6a604;
}
.yellow-800 {
  background-color: #f9a825;
}
.yellow-800:hover {
  background-color: #db8906;
}
.yellow-900 {
  background-color: #f57f17;
}
.yellow-900:hover {
  background-color: #c66109;
}
.yellow-A100 {
  background-color: #ffff8d;
}
.yellow-A100:hover {
  background-color: #ffff50;
}
.yellow-A200 {
  background-color: #ffff00;
}
.yellow-A200:hover {
  background-color: #c2c200;
}
.yellow-A400 {
  background-color: #ffea00;
}
.yellow-A400:hover {
  background-color: #c2b200;
}
.yellow-A700 {
  background-color: #ffd600;
}
.yellow-A700:hover {
  background-color: #c2a300;
}
.amber-50 {
  background-color: #fff8e1;
}
.amber-50:hover {
  background-color: #ffeaa4;
}
.amber-100 {
  background-color: #ffecb3;
}
.amber-100:hover {
  background-color: #ffdd76;
}
.amber-200 {
  background-color: #ffe082;
}
.amber-200:hover {
  background-color: #ffd145;
}
.amber-300 {
  background-color: #ffd54f;
}
.amber-300:hover {
  background-color: #ffc612;
}
.amber-400 {
  background-color: #ffca28;
}
.amber-400:hover {
  background-color: #eab000;
}
.amber-500 {
  background-color: #ffc107;
}
.amber-500:hover {
  background-color: #c99700;
}
.amber-600 {
  background-color: #ffb300;
}
.amber-600:hover {
  background-color: #c28800;
}
.amber-700 {
  background-color: #ffa000;
}
.amber-700:hover {
  background-color: #c27a00;
}
.amber-800 {
  background-color: #ff8f00;
}
.amber-800:hover {
  background-color: #c26d00;
}
.amber-900 {
  background-color: #ff6f00;
}
.amber-900:hover {
  background-color: #c25400;
}
.amber-A100 {
  background-color: #ffe57f;
}
.amber-A100:hover {
  background-color: #ffd942;
}
.amber-A200 {
  background-color: #ffd740;
}
.amber-A200:hover {
  background-color: #ffca03;
}
.amber-A400 {
  background-color: #ffc400;
}
.amber-A400:hover {
  background-color: #c29500;
}
.amber-A700 {
  background-color: #ffab00;
}
.amber-A700:hover {
  background-color: #c28200;
}
.orange-50 {
  background-color: #fff3e0;
}
.orange-50:hover {
  background-color: #ffdba3;
}
.orange-100 {
  background-color: #ffe0b2;
}
.orange-100:hover {
  background-color: #ffc775;
}
.orange-200 {
  background-color: #ffcc80;
}
.orange-200:hover {
  background-color: #ffb343;
}
.orange-300 {
  background-color: #ffb74d;
}
.orange-300:hover {
  background-color: #ff9e10;
}
.orange-400 {
  background-color: #ffa726;
}
.orange-400:hover {
  background-color: #e88a00;
}
.orange-500 {
  background-color: #ff9800;
}
.orange-500:hover {
  background-color: #c27400;
}
.orange-600 {
  background-color: #fb8c00;
}
.orange-600:hover {
  background-color: #be6a00;
}
.orange-700 {
  background-color: #f57c00;
}
.orange-700:hover {
  background-color: #b85d00;
}
.orange-800 {
  background-color: #ef6c00;
}
.orange-800:hover {
  background-color: #b25000;
}
.orange-900 {
  background-color: #e65100;
}
.orange-900:hover {
  background-color: #a93b00;
}
.orange-A100 {
  background-color: #ffd180;
}
.orange-A100:hover {
  background-color: #ffbb43;
}
.orange-A200 {
  background-color: #ffab40;
}
.orange-A200:hover {
  background-color: #ff9003;
}
.orange-A400 {
  background-color: #ff9100;
}
.orange-A400:hover {
  background-color: #c26e00;
}
.orange-A700 {
  background-color: #ff6d00;
}
.orange-A700:hover {
  background-color: #c25300;
}
.deep-orange-50 {
  background-color: #fbe9e7;
}
.deep-orange-50:hover {
  background-color: #f2b9b3;
}
.deep-orange-100 {
  background-color: #ffccbc;
}
.deep-orange-100:hover {
  background-color: #ff9d7f;
}
.deep-orange-200 {
  background-color: #ffab91;
}
.deep-orange-200:hover {
  background-color: #ff7c54;
}
.deep-orange-300 {
  background-color: #ff8a65;
}
.deep-orange-300:hover {
  background-color: #ff5c28;
}
.deep-orange-400 {
  background-color: #ff7043;
}
.deep-orange-400:hover {
  background-color: #ff4106;
}
.deep-orange-500 {
  background-color: #ff5722;
}
.deep-orange-500:hover {
  background-color: #e43700;
}
.deep-orange-600 {
  background-color: #f4511e;
}
.deep-orange-600:hover {
  background-color: #cb380a;
}
.deep-orange-700 {
  background-color: #e64a19;
}
.deep-orange-700:hover {
  background-color: #af3813;
}
.deep-orange-800 {
  background-color: #d84315;
}
.deep-orange-800:hover {
  background-color: #a03210;
}
.deep-orange-900 {
  background-color: #bf360c;
}
.deep-orange-900:hover {
  background-color: #852608;
}
.deep-orange-A100 {
  background-color: #ff9e80;
}
.deep-orange-A100:hover {
  background-color: #ff6f43;
}
.deep-orange-A200 {
  background-color: #ff6e40;
}
.deep-orange-A200:hover {
  background-color: #ff4003;
}
.deep-orange-A400 {
  background-color: #ff3d00;
}
.deep-orange-A400:hover {
  background-color: #c22e00;
}
.deep-orange-A700 {
  background-color: #dd2c00;
}
.deep-orange-A700:hover {
  background-color: #a02000;
}
.brown-50 {
  background-color: #efebe9;
}
.brown-50:hover {
  background-color: #d5cbc6;
}
.brown-100 {
  background-color: #d7ccc8;
}
.brown-100:hover {
  background-color: #bdaba5;
}
.brown-200 {
  background-color: #bcaaa4;
}
.brown-200:hover {
  background-color: #a28981;
}
.brown-300 {
  background-color: #a1887f;
}
.brown-300:hover {
  background-color: #836960;
}
.brown-400 {
  background-color: #8d6e63;
}
.brown-400:hover {
  background-color: #69524a;
}
.brown-500 {
  background-color: #795548;
}
.brown-500:hover {
  background-color: #533a31;
}
.brown-600 {
  background-color: #6d4c41;
}
.brown-600:hover {
  background-color: #47312a;
}
.brown-700 {
  background-color: #5d4037;
}
.brown-700:hover {
  background-color: #372620;
}
.brown-800 {
  background-color: #4e342e;
}
.brown-800:hover {
  background-color: #281a17;
}
.brown-900 {
  background-color: #3e2723;
}
.brown-900:hover {
  background-color: #170e0d;
}
.blue-grey-50 {
  background-color: #eceff1;
}
.blue-grey-50:hover {
  background-color: #c9d1d7;
}
.blue-grey-100 {
  background-color: #cfd8dc;
}
.blue-grey-100:hover {
  background-color: #acbbc2;
}
.blue-grey-200 {
  background-color: #b0bec5;
}
.blue-grey-200:hover {
  background-color: #8da1ab;
}
.blue-grey-300 {
  background-color: #90a4ae;
}
.blue-grey-300:hover {
  background-color: #6d8794;
}
.blue-grey-400 {
  background-color: #78909c;
}
.blue-grey-400:hover {
  background-color: #5b717c;
}
.blue-grey-500 {
  background-color: #607d8b;
}
.blue-grey-500:hover {
  background-color: #475c67;
}
.blue-grey-600 {
  background-color: #546e7a;
}
.blue-grey-600:hover {
  background-color: #3b4d56;
}
.blue-grey-700 {
  background-color: #455a64;
}
.blue-grey-700:hover {
  background-color: #2c3940;
}
.blue-grey-800 {
  background-color: #37474f;
}
.blue-grey-800:hover {
  background-color: #1e272b;
}
.blue-grey-900 {
  background-color: #263238;
}
.blue-grey-900:hover {
  background-color: #0d1114;
}
.grey-50 {
  background-color: #fafafa;
}
.grey-50:hover {
  background-color: #dbdbdb;
}
.grey-100 {
  background-color: #f5f5f5;
}
.grey-100:hover {
  background-color: #d6d6d6;
}
.grey-200 {
  background-color: #eeeeee;
}
.grey-200:hover {
  background-color: #cfcfcf;
}
.grey-300 {
  background-color: #e0e0e0;
}
.grey-300:hover {
  background-color: #c1c1c1;
}
.grey-400 {
  background-color: #bdbdbd;
}
.grey-400:hover {
  background-color: #9e9e9e;
}
.grey-500 {
  background-color: #9e9e9e;
}
.grey-500:hover {
  background-color: #7f7f7f;
}
.grey-600 {
  background-color: #757575;
}
.grey-600:hover {
  background-color: #565656;
}
.grey-700 {
  background-color: #616161;
}
.grey-700:hover {
  background-color: #424242;
}
.grey-800 {
  background-color: #424242;
}
.grey-800:hover {
  background-color: #232323;
}
.grey-900 {
  background-color: #212121;
}
.grey-900:hover {
  background-color: #020202;
}
/*.c0 { .grey-100; }
.c1 { .blue-500; }
.c2 { .red-500; }
.c3 { .pink-500; }
.c4 { .purple-500; }
.c5 { .deep-purple-500; }
.c6 { .indigo-500; }
.c7 { .light-blue-500; }
.c8 { .cyan-500; }
.c9 { .teal-500; }
.c10 { .green-500; }
.c11 { .light-green-500; }
.c12 { .lime-500; }
.c13 { .yellow-500; }
.c14 { .amber-500; }
.c15 { .orange-500; }
.c16 { .deep-orange-500; }
.c17 { .brown-500; }
.c18 { .blue-grey-500; }
.c19 { .grey-500; }*/
.red-500,
.red-600,
.red-700,
.red-A200,
.red-A400,
.red-A700,
.pink-500,
.pink-600,
.pink-A200,
.pink-A400,
.pink-A700,
.purple-300,
.purple-400,
.purple-A200,
.purple-A400,
.purple-A700,
.deep-purple-300,
.deep-purple-400,
.deep-purple-A200,
.indigo-300,
.indigo-400,
.indigo-A200,
.indigo-A400,
.blue-500,
.blue-600,
.blue-700,
.blue-A200,
.blue-A400,
.blue-A700,
.light-blue-500,
.light-blue-600,
.light-blue-700,
.light-blue-800,
.light-blue-A700,
.cyan-500,
.cyan-600,
.cyan-700,
.cyan-800,
.teal-500,
.teal-600,
.teal-700,
.green-500,
.green-600,
.green-700,
.light-green-800,
.light-green-900,
.lime-900,
.orange-700,
.orange-800,
.orange-900,
.orange-500,
.deep-orange-500,
.deep-orange-600,
.deep-orange-700,
.deep-orange-800,
.deep-orange-900,
.deep-orange-A400,
.deep-orange-A700,
.brown-300,
.brown-400,
.blue-grey-400,
.blue-grey-500,
.grey-500,
.c1 a,
.c2 a,
.c3 a,
.c7 a,
.c8 a,
.c9 a,
.c10 a,
.c15 a,
.c16 a,
.c18 a,
.c19 a {
  color: #ffffff;
}
.c4 a,
.c5 a,
.c6 a,
.c11 a,
.c17 a,
.red-800,
.red-900,
.pink-700,
.pink-800,
.pink-900,
.purple-500,
.purple-600,
.purple-700,
.purple-800,
.purple-900,
.deep-purple-500,
.deep-purple-600,
.deep-purple-700,
.deep-purple-800,
.deep-purple-900,
.deep-purple-A400,
.deep-purple-A700,
.indigo-500,
.indigo-600,
.indigo-700,
.indigo-800,
.indigo-900,
.indigo-A700,
.blue-800,
.blue-900,
.light-blue-900,
.light-green-500,
.cyan-900,
.teal-800,
.teal-900,
.green-800,
.green-900,
.brown-500,
.brown-600,
.brown-700,
.brown-800,
.brown-900,
.blue-grey-600,
.blue-grey-700,
.blue-grey-800,
.blue-grey-900,
.grey-600,
.grey-700,
.grey-800,
.grey-900 {
  color: rgba(255, 255, 255, 0.87);
}
.c12 a,
.c13 a,
.c14 a,
.c20 a,
.orange-A700,
.grey-100,
.lime-500,
.yellow-500,
.amber-500,
.c0 a {
  color: #000000;
}
