@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/new\/assets\/less\/ext3\.less}line{font-family:\000031}}
.catego ul li {
  font-size: 30px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/new\/assets\/less\/ext3\.less}line{font-family:\000034}}
.announcements {
  font-size: 22px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/new\/assets\/less\/ext3\.less}line{font-family:\000037}}
#main p {
  font-size: 23px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/new\/assets\/less\/ext3\.less}line{font-family:\0000310}}
.p-news h1 {
  font-size: 50px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/new\/assets\/less\/ext3\.less}line{font-family:\0000313}}
.p-news dd {
  font-size: 28px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/new\/assets\/less\/ext3\.less}line{font-family:\0000316}}
.catego ul li {
  font-size: 30px!important;
  font-weight: 400!important;
}
